<h1>Users#show</h1>

<%=current_user.email if current_user %>

<!--I tried to create a link_to here using the  user_posts_path but I kept having syntax errors - I think the issue was comming from trying to call post routes through the user controller? idk-->